* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

main {
  margin-left: 5%;
  display: flex;
}

footer {
  display: flex;
  justify-content: center;
  padding: 15px;
  padding-bottom: 13px;
  background-color: rgb(37, 38, 39);
  color: white;
}

.trybewarts-login {
  display: flex;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-bottom: 50px;
}

.header h1 {
  color: white;
  font-size: 50px;
}

.header img {
  height: 100px;
  margin-left: 20px;
}

.header form {
  margin-right: 10px;
}

.main {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid grey;
}

.data-container {
  display: flex;
  flex-flow: row wrap;
  font-size: 20px;
  gap: 13px;
  padding: 20px;
  border-bottom: 1px solid grey;
}

#first-container {
  padding: 10px;
  font-size: 21px;
  gap: 10px;
}

#second-container {
  padding: 10px;
  font-size: 21px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  gap: 15px;
}

#evaluation-form {
  display: flex;
  flex-flow: column wrap;
  width: 675px;
  gap: 10px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#valuator-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
